<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Projects</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <a class="ml-1 text-primary-500">Weekend Project</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">Overview</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'./..'">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Page heading for propositions
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-stroked-button>
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                Edit
            </button>
            <button
                class="ml-3"
                mat-flat-button
                [color]="'accent'">
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:link'"></mat-icon>
                View
            </button>
        </div>
    </div>

    <!-- Main -->
    <div
        class="flex-auto p-6 sm:p-10 overflow-y-auto"
        cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <!--        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl"></div>-->


        <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
            <!-- DATA TABLES -->
            <h1>CUSTOM CONTENT</h1>


            <form
                class="p-4 bg-card shadow rounded overflow-hidden"
                [formGroup]="horizontalStepperForm">
                <mat-horizontal-stepper
                    [linear]="true"
                    #horizontalStepper>
                    <mat-step
                        [formGroupName]="'step1'"
                        [stepControl]="horizontalStepperForm.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Data Type</ng-template>
                        <p class="my-6 font-medium">
                            Select data type you want to delete
                        </p>
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select (selectionChange)="onSelectionChange($event)"
                                    [formControlName]="'type'"
                                    [placeholder]="'Data type'"
                                    required>
                                    <mat-option value="thirdparty">Third Party</mat-option>
                                    <mat-option value="policy">Policy</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
<!--                            <mat-form-field class="flex-auto">-->
<!--                                <input-->
<!--                                    matInput-->
<!--                                    [formControlName]="'email'"-->
<!--                                    [placeholder]="'Email Address'"-->
<!--                                    required>-->
<!--                                <mat-icon-->
<!--                                    class="icon-size-5"-->
<!--                                    matPrefix-->
<!--                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>-->
<!--                            </mat-form-field>-->
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">

                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-select
                                    [formControlName]="'subType'"
                                    [placeholder]="'Language'"
                                    required>
                                    <mat-option  *ngIf="horizontalStepperForm.get('step1.type').value==='thirdparty'" value="moral">Moral Person</mat-option>
                                    <mat-option  *ngIf="horizontalStepperForm.get('step1.type').value==='thirdparty'" value="physical">Physical Person</mat-option>
                                    <mat-option  *ngIf="horizontalStepperForm.get('step1.type').value==='policy'" value="sub-type">Policy</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:translate'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                                type="button"
                                (click)="loadData()"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step
                        [formGroupName]="'step2'"
                        [stepControl]="horizontalStepperForm.get('step2')"
                        #horizontalStepperStep2>
                        <ng-template matStepLabel>Select Data</ng-template>
                        <p class="my-6 font-medium">
                            Select informations you want to delete
                        </p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3" *ngIf="horizontalStepperForm.get('step1.type').value==='thirdparty'">
                                <input
                                    matInput
                                    [formControlName]="'firstName'"
                                    [placeholder]="'External IDS'"
                                    [(ngModel)]="selectedThirdPartyIdentifiers"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3" *ngIf="horizontalStepperForm.get('step1.type').value==='thirdparty'">
                                <input
                                    matInput
                                    [formControlName]="'lastName'"
                                    [placeholder]="'Third parties names'"
                                    [(ngModel)]="selectedThirdPartyNames"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <input
                                    matInput
                                    [formControlName]="'policies'"
                                    [placeholder]="'Policies'"
                                    [(ngModel)]="selectedPolicies"
                                    [disabled]="true"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div>
                            <!--BEGIN DATA TABLE FOR THIRD PARTY -->
                            <table mat-table [dataSource]="dataSource">

                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                                      [checked]="selection.hasValue() && isAllSelected()"
                                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                      [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                      (change)="$event ? selection.toggle(row) : null"
                                                      [checked]="selection.isSelected(row)"
                                                      [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="identifier">
                                    <th mat-header-cell *matHeaderCellDef> Identifier </th>
                                    <td mat-cell *matCellDef="let element"> {{element.identifier}} </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Full name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="nationality">
                                    <th mat-header-cell *matHeaderCellDef> Nationality </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nationalIdentifierCountry}} </td>
                                </ng-container>
                                <ng-container matColumnDef="legal address">
                                    <th mat-header-cell *matHeaderCellDef> Legal address </th>
                                    <td mat-cell *matCellDef="let element"> {{element.legalAddress?.street}} {{element.legalAddress?.postalCode}} {{element.legalAddress?.town}}</td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> Email </th>
                                    <td mat-cell *matCellDef="let element"> {{element.preferredEmailAddress?.email}} </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    (click)="selection.toggle(row);  updateSelectedData()">
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                           showFirstLastButtons
                                           aria-label="Select page of periodic elements">
                            </mat-paginator>

                        </div>



                        <!--END DATA TABLE FOR THIRD PARTY -->
                        <br>
                        <br>
                        <div class="flex justify-end">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                    [disabled]=" this.selection.isEmpty() &&( horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid) "
                                type="button"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step
                        [formGroupName]="'step3'"
                        [stepControl]="horizontalStepperForm.get('step3')">
                        <ng-template matStepLabel>Parameters</ng-template>
                        <p class="my-6 font-medium">
                            Set batch job parameters
                        </p>
                        <div class="flex flex-col gt-sm:flex-row">
                            <div class="flex flex-col">
                                <span class="font-medium mb-2">By Email</span>
                                <div
                                    class="flex flex-col"
                                    [formGroupName]="'parameters'">
                                    <mat-checkbox
                                        class="mb-1"
                                        [color]="'primary'"
                                        [formControlName]="'mailNotification'">
                                        Send email notification
                                    </mat-checkbox>
                                    <mat-checkbox
                                        class="mb-1"
                                        [color]="'primary'"
                                        [formControlName]="'jsonExtraction'">
                                        Create Data extraction
                                    </mat-checkbox>
<!--                                    <mat-checkbox-->
<!--                                        [color]="'primary'"-->
<!--                                        [formControlName]="'messages'">-->
<!--                                        Messages-->
<!--                                    </mat-checkbox>-->
                                </div>
                            </div>
<!--                            <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">-->
<!--                                <span class="font-medium mb-2">Push Notifications</span>-->
<!--                                <mat-radio-group-->
<!--                                    class="flex flex-col"-->
<!--                                    [color]="'primary'"-->
<!--                                    [formControlName]="'pushNotifications'">-->
<!--                                    <mat-radio-button-->
<!--                                        class="mb-2"-->
<!--                                        [value]="'everything'">-->
<!--                                        Everything-->
<!--                                    </mat-radio-button>-->
<!--                                    <mat-radio-button-->
<!--                                        class="mb-2"-->
<!--                                        [value]="'just-good'">-->
<!--                                        Just the good stuff-->
<!--                                    </mat-radio-button>-->
<!--                                    <mat-radio-button [value]="'no-push'">-->
<!--                                        No push notifications-->
<!--                                    </mat-radio-button>-->
<!--                                </mat-radio-group>-->
<!--                            </div>-->
                        </div>
                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="button"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Launch batch</ng-template>
                        <p class="my-6 font-medium">
                            Thank you for completing our form! You can change your configuration by clicking reset.
                        </p>
                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'primary'"
                                type="reset"
                                (click)="horizontalStepper.reset();">
                                Reset
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="reset"
                                (click)="submit()">
                                Submit
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>


        </div>
    </div>

</div>
